<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Data</title>
</head>

<body>
    <h3>Flask - SQLAlchemy Example</h3>
    <hr />

    {%- for category, message in get_flashed_messages(with_categories = true) %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {%- endfor %}

    <form action="{{ url_for('create_new') }}" method="POST">
        <p>Name:</p>
        <input type="text" name="name">
        <p>Gender:</p>
        <select name="gender" id="gender">
            <option value="gender" selected disabled value="Select your gender" >Select your gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>
        <p>City:</p>
        <input type="text" name="city">
        <p>Zipcode:</p>
        <input type="number" name="zipcode" min="111111" max="999999">
        <p>Submit:</p>
        <input type="submit" value="SUBMIT">
    </form>
</body>

</html>