*{
    background-color: chocolate;
}

h2{
    background-color: lightblue;
    text-align: center;
    color:darkslategrey;
}

h3{
    background-color:darkslategray;
    text-align: center;
    color:whitesmoke;
}