body{
    background-color: lightseagreen;
}

.box1{
    background-color: blue;
    color: white;
    height: 235px;
    width: 325px;
    float: left;
}

.box2{
    background-color: red;
    color: white;
    height: 235px;
    width: 325px;
    float: right;
    clear: both;
}